body{
    background: #F0F2F0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#background-image{
    background: url("../images/crystal_ball.PNG");
    width: 100% !important;
    height: 800px !important;
    background-size:100% !important;  
    float: left;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background-repeat:no-repeat;
    position: relative

    } 

    .main-section {
        float: left;
        width: 100%;
        max-width: 960px;
        padding: 30px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        line-height: 30px;
  
      }

      #main-container {
        padding-top: 130px;
        min-height: calc(100vh - 70px);
      }
      .container {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        clear: both;
      }